@media screen and (min-width: 320px) and (max-width: 1140px) {
    header div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header-one{
        display: none;
    }
    .header-one-block1 {
        display: none;
    }
    .menu{
        display: none;
    }
    .btn{
        display: none;
    }
    .block {
        flex-direction: column;
    }
    .company--block2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .card > h2{
        padding-top: 400px;
    }
    .benefits{
        
    }
}